[submodule "TO-DAY"]
	path = TO-DAY
	url = git@github.com:Taugeshtu/TO-DAY.git

[submodule "Kelp"]
	path = Kelp
	url = git@github.com:Taugeshtu/kelp.git
[submodule "crunchie-apps"]
	path = crunchie-apps
	url = git@github.com:Taugeshtu/crunchie-apps.git
